In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('sales.csv')
df.head()

,Region,Item Type,Sales Channel,Order Date,Units Sold,Total Profit
0,Australia and Oceania,Baby Food,Offline,5/28/2010,9925,951410.50
1,Central America and the Caribbean,Cereal,Online,8/22/2012,2804,248406.36
2,Europe,Office Supplies,Offline,5/2/2014,1779,224598.75
3,Sub-Saharan Africa,Fruits,Online,6/20/2014,8102,19525.82
4,Sub-Saharan Africa,Office Supplies,Offline,2/1/2013,5062,639077.50

In [4]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

# separate 2015 and 2016

In [5]:
fifteen = df[(df['Order Date'] >= '2015-01-01') & (df['Order Date'] < '2016-01-01')]

In [6]:
sixteen = df[(df['Order Date'] >= '2016-01-01') & (df['Order Date'] < '2017-01-01')]

# Units Sold

In [7]:
units_sold_fifteen = fifteen.groupby('Region')['Units Sold'].sum()
units_sold_fifteen

Region
Asia                            14180
Australia and Oceania            5898
Europe                           4120
Middle East and North Africa      673
North America                    5767
Sub-Saharan Africa              18842
Name: Units Sold, dtype: int64

In [8]:
units_sold_sixteen = sixteen.groupby('Region')['Units Sold'].sum()
units_sold_sixteen

Region
Asia                                  6952
Central America and the Caribbean     7723
Europe                               18597
Middle East and North Africa          6489
Sub-Saharan Africa                    3395
Name: Units Sold, dtype: int64

# Total Profits

In [9]:
total_profits_fifteen = fifteen.groupby('Region')['Total Profit'].sum().to_dict()
total_profits_fifteen

{'Asia': 1802771.7,
 'Australia and Oceania': 654242.64,
 'Europe': 617037.67,
 'Middle East and North Africa': 1621.93,
 'North America': 144521.02,
 'Sub-Saharan Africa': 776344.48}

In [27]:
298656.63/ 1000.0

298.65663

In [10]:
total_profits_sixteen = sixteen.groupby('Region')['Total Profit'].sum().to_dict()
total_profits_sixteen

{'Asia': 1208744.24,
 'Central America and the Caribbean': 526459.62,
 'Europe': 1741735.09,
 'Middle East and North Africa': 1128242.43,
 'Sub-Saharan Africa': 298656.63}

# Item With Highest Sales

In [12]:
highest_sales_fifteen = fifteen.loc[fifteen.groupby(['Region'])['Units Sold'].idxmax()].set_index('Region')
highest_sales_fifteen

,Item Type,Sales Channel,Order Date,Units Sold,Total Profit
Region,,,,,
Asia,Household,Offline,2015-01-16,8250,1367272.50
Australia and Oceania,Baby Food,Online,2015-02-04,2974,285087.64
Europe,Cosmetics,Offline,2015-02-23,2847,495007.89
Middle East and North Africa,Fruits,Online,2015-08-14,673,1621.93
North America,Personal Care,Offline,2015-07-30,5767,144521.02
Sub-Saharan Africa,Clothes,Offline,2015-04-25,7342,539196.48

In [14]:
highest_sales_sixteen = sixteen.loc[sixteen.groupby(['Region'])['Units Sold'].idxmax()].set_index('Region')
highest_sales_sixteen

,Item Type,Sales Channel,Order Date,Units Sold,Total Profit
Region,,,,,
Asia,Cosmetics,Offline,2016-11-19,6952,1208744.24
Central America and the Caribbean,Clothes,Offline,2016-07-25,5498,403773.12
Europe,Cosmetics,Online,2016-12-31,8867,1541705.29
Middle East and North Africa,Cosmetics,Online,2016-11-15,6489,1128242.43
Sub-Saharan Africa,Vegetables,Offline,2016-06-01,1485,93748.05

# Percentage

In [80]:
highest_sales_sixteen

{'Item Type': {'Asia': 'Cosmetics',
  'Central America and the Caribbean': 'Clothes',
  'Europe': 'Cosmetics',
  'Middle East and North Africa': 'Cosmetics',
  'Sub-Saharan Africa': 'Vegetables'},
 'Sales Channel': {'Asia': 'Offline',
  'Central America and the Caribbean': 'Offline',
  'Europe': 'Online',
  'Middle East and North Africa': 'Online',
  'Sub-Saharan Africa': 'Offline'},
 'Order Date': {'Asia': Timestamp('2016-11-19 00:00:00'),
  'Central America and the Caribbean': Timestamp('2016-07-25 00:00:00'),
  'Europe': Timestamp('2016-12-31 00:00:00'),
  'Middle East and North Africa': Timestamp('2016-11-15 00:00:00'),
  'Sub-Saharan Africa': Timestamp('2016-06-01 00:00:00')},
 'Units Sold': {'Asia': 6952,
  'Central America and the Caribbean': 5498,
  'Europe': 8867,
  'Middle East and North Africa': 6489,
  'Sub-Saharan Africa': 1485},
 'Total Profit': {'Asia': 1208744.24,
  'Central America and the Caribbean': 403773.12,
  'Europe': 1541705.29,
  'Middle East and North Africa': 1128242.43,
  'Sub-Saharan Africa': 93748.05}}

In [81]:
total_profits_sixteen

{'Asia': 1208744.24,
 'Central America and the Caribbean': 526459.62,
 'Europe': 1741735.09,
 'Middle East and North Africa': 1128242.43,
 'Sub-Saharan Africa': 298656.63}

In [91]:
mydict16 = {}
for cont, profit in total_profits_sixteen.items():

    mydict16[cont] = highest_sales_sixteen['Total Profit'][cont] / profit

In [93]:
mydict16

{'Asia': 1.0,
 'Central America and the Caribbean': 0.7669593348868807,
 'Europe': 0.8851548658872114,
 'Middle East and North Africa': 1.0,
 'Sub-Saharan Africa': 0.3138991088193823}

In [89]:
mydict15 = {}
for cont, profit in total_profits_fifteen.items():

    mydict15[cont] = highest_sales_fifteen['Total Profit'][cont] / profit

In [90]:
mydict15

{'Asia': 0.7584279806477991,
 'Australia and Oceania': 0.435752154582893,
 'Europe': 0.8022328523313658,
 'Middle East and North Africa': 1.0,
 'North America': 1.0,
 'Sub-Saharan Africa': 0.6945325095890422}