In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
data = pd.read_csv('data/pandas.csv', usecols=['date', 'month', 'year', 'day', 'article'])

In [17]:
data.publication.unique()

array(['Vox', 'Business Insider', 'Reuters', 'TMZ', 'Vice', 'Vice News',
       'Hyperallergic', 'TechCrunch', 'Axios', 'Refinery 29', 'The Verge',
       'Mashable', 'People', 'Economist', 'CNN', 'Gizmodo', 'New Yorker',
       'CNBC', 'Wired', 'New Republic', 'Fox News', 'The Hill',
       'Politico', 'The New York Times', 'Buzzfeed News',
       'Washington Post', nan], dtype=object)

In [18]:
np.min(pd.to_datetime(data.date))

Timestamp('2016-01-01 00:00:00')

In [19]:
np.max(pd.to_datetime(data.date))

Timestamp('2020-04-02 00:00:00')

In [28]:
data['date'] = pd.to_datetime(data.date)

In [52]:
data.head(1)

,date,year,month,day,article
0,2016-12-09 18:31:00,2016,12.0,9,"This post is part of Polyarchy, an independent..."

In [55]:
grp

year  date
2016  2016-01-01             [A gunman has killed at least two people and i...
      2016-01-01 00:00:00    [Bill Cosby was a man of few words on New Year...
      2016-01-01 00:05:00    [Iconic R&B and jazz star Natalie Cole has die...
      2016-01-01 00:08:06    [The networks seem to have anticipated a letha...
      2016-01-01 00:15:00    [Kanye West is bringing in the New Year with n...
                                                   ...
2020  2020-04-01 07:35:31    [The actions have stirred a debate about the p...
      2020-04-01 13:41:15    [As the second month of the coronavirus outbre...
      2020-04-01 13:41:22    [President Trump told of â€œhard days that lie a...
      2020-04-01 13:42:08    [Right Now The S&P 500 fell nearly 4 percent. ...
      2020-04-02 00:00:00    [The journalists at BuzzFeed News are proud to...
Name: article, Length: 573367, dtype: object

In [67]:
grp3 = data.groupby(['year','month', 'day'])['day'].apply(list)

In [70]:
pd.DataFrame(grp3[2020][3.0][12]).info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4073 entries, 0 to 4072
Data columns (total 1 columns):
0    4073 non-null int64
dtypes: int64(1)
memory usage: 31.9 KB

In [29]:
pd.DataFrame(t)

                article
year month day
2020 3.0   12      4073

In [43]:
getsizeof(pd.DataFrame(grp[2020][3.0][12]))

20166809

In [41]:
from sys import getsizeof

In [46]:
pd.DataFrame(grp).info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1554 entries, (2016, 1.0, 1) to (2020, 4.0, 2)
Data columns (total 1 columns):
article    1554 non-null object
dtypes: object(1)
memory usage: 22.3 MB

In [49]:
pd.DataFrame(grp[2020][3.0][12]).info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4073 entries, 0 to 4072
Data columns (total 1 columns):
0    4073 non-null object
dtypes: object(1)
memory usage: 19.2 MB